.divAzul {
    width: 200px;
    height: 200px;
    background-color: #006;
}

#fotos {
    width: 60%;
    margin: 20px auto;
    padding: 10px;
}

#fotos img {
    width: 28%;
    height: 28%;
    margin: 10px;
    cursor: pointer;
}

#shadow {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

#shadow img {
    width: 50%;
    height: 50%;
}

#close {
    color: #ffffff;
    font-size: 40pt;
    font-weight: bold;
    padding: 1px 7px;
    text-decoration: none;
    position: absolute;
    right: 30px;
    top: 30px;
}